//Font family
$font-family-Poppins: 'Poppins', sans-serif;

//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//Font size
$font-size-mob: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2.2rem;
$font-size-xxl: 3.4rem;

//Color
$color-orange: #e67320;
$color-dark: #000000;
$color-gray: rgba(55, 54, 54, 0.4);
$color-light: #f8f9fa;

//Margin
$m-0-5: 0.5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$mb-2-5: 2.5rem;
