//Font family
$font-family-Poppins: 'Poppins', sans-serif;

//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//Font size
$font-size-sm: 1rem;
$font-size-md: 1.25px;
$font-size-lg: 1.5px;
$font-size-xl: 1.8px;
$font-size-xxl: 2.4px;

//Color
$color-orange: #e67320;
$color-dark: #000000;
$color-light: #f8f9fa;

//Margin
$m-0-5: 5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$mb-2-5: 2.5rem;
