.contact {
  width: 100%;
  padding: 5rem 0 5rem;
  @include d-flex{
    justify-content: center;
  }
  &__header{
    text-align: center;
    width: 100%;
    color: $color-light;
  }
  &__title{
    font-size: $font-size-xxl;
    letter-spacing: 1px;
    margin-bottom: $m-1-5;
    color: $color-orange;
  }
  &__desc{
    font-weight: $font-weight-light;
    margin-bottom: $m-1-5;

  }
  &__content{
    margin: 0 auto;
    max-width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  &__box{
    padding: 5px;
    @include d-flex{
      justify-content: center;
      flex-direction: column;
    }
    border-radius: 5px;
    color: $color-light;

    &-img{
      width: 20%;
    }
    &-inf {
      font-weight: $font-weight-light;
      margin-top: 10px;
      text-align: center;
      font-size: $font-size-mob;
    }
  }
  &__form{
    margin: 0 auto;

    padding: 35px;
    max-width: 500px;
    &-view{
      width: 100%;
      color: $color-light;

    }
    &-input{
      margin: 10px 0;
      background: transparent;
      padding: 0 20px;
      width: 100%;
      height: 45px;
      border: 1px solid $color-orange;
      color: $color-light;

      &::placeholder{
        color: $color-light;
      }
      &:focus{
        -webkit-box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
        -moz-box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
        box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
      }
    }

   &-textarea{
      color: $color-light;
      width: 100%;
      margin: 10px 0;
     padding: 10px 20px;
      border: 1px solid $color-orange;
      resize: none;
      background: transparent;

     &::placeholder{
       color: $color-light;
     }

     &:focus{
       border-bottom: 2px solid $color-orange;
       -webkit-box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
       -moz-box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
       box-shadow: 1px 4px 28px -6px rgba(230, 115, 32, 1);
     }
    }
  }
}
